include partials/header
doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-GKugkVcT8wqoh3M8z1lqHbU+g6j498/ZT/zuXbepz7Dc09/otQZxTimkEMTkRWHP", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        if (!user)
            a(href='/') Home
            | | 
            a(href='/login') Login 
            | | 
            a(href='/register') Register
            | | 
            a(href='/logout') Logout
            | |
            a(href= '/items') Insert Data
            | |
            a(href='/users') Users
            | |
            a(href='https://github.com/Unknownlurkr/BetterThanCraigslist') Git Hub
        else
            a(href='/') Home
            | |
            a(href='/users') Users
            | |
            a(href='/insert') Insert
            | | 
            a(href='/update') Update
            | |
            a(href='/logout') Logout
            | |
            a(href='https://github.com/Unknownlurkr/BetterThanCraigslist') Git Hub
        form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text' placeholder='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    block content

include partials/footer
                 
        
